<header class="fixed w-full bg-white/80 backdrop-blur-md z-50 py-4 border-b">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between"><a class="flex items-center gap-2" href="/"><svg
          xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-brain-circuit h-8 w-8 text-emerald-500">
          <path d="M12 5a3 3 0 1 0-5.997.125 4 4 0 0 0-2.526 5.77 4 4 0 0 0 .556 6.588A4 4 0 1 0 12 18Z"></path>
          <path d="M9 13a4.5 4.5 0 0 0 3-4"></path>
          <path d="M6.003 5.125A3 3 0 0 0 6.401 6.5"></path>
          <path d="M3.477 10.896a4 4 0 0 1 .585-.396"></path>
          <path d="M6 18a4 4 0 0 1-1.967-.516"></path>
          <path d="M12 13h4"></path>
          <path d="M12 18h6a2 2 0 0 1 2 2v1"></path>
          <path d="M12 8h8"></path>
          <path d="M16 8V5a2 2 0 0 1 2-2"></path>
          <circle cx="16" cy="13" r=".5"></circle>
          <circle cx="18" cy="3" r=".5"></circle>
          <circle cx="20" cy="21" r=".5"></circle>
          <circle cx="20" cy="8" r=".5"></circle>
        </svg><span class="text-2xl font-bold text-emerald-500">Elital</span></a>
      <nav class="hidden md:flex items-center gap-8"><a class="text-gray-600 hover:text-emerald-500 transition"
          href="/blog/">Blog</a><a
          class="inline-flex items-center justify-center gap-2 font-medium transition-all rounded-lg px-6 py-2.5 text-base bg-gradient-to-r from-emerald-500 to-emerald-600 text-white hover:from-emerald-600 hover:to-emerald-700 shadow-sm hover:shadow active:shadow-inner "
          href="/contact/">Contact Us</a></nav>
      <div class="flex items-center gap-4 md:hidden"><a class="text-emerald-500 hover:text-emerald-600"
          href="/blog/">Blog</a>
          <a class="text-emerald-500 hover:text-emerald-600 inline-flex items-center justify-center gap-2 font-medium transition-all rounded-lg px-6 py-2.5 text-base bg-gradient-to-r from-emerald-500 to-emerald-600 text-white hover:from-emerald-600 hover:to-emerald-700 shadow-sm hover:shadow active:shadow-inner "
             href="/contact/">Contact us</a>
        </div>
    </div>
  </div>
</header>
